@model IEnumerable<AspTimeSheet.Models.HookyModelView>

@{
    ViewData["Title"] = "Табеля отсутствия сотрудников на рабочем месте";
}


<h2>Index</h2>

<p>
    <a asp-action="Create">Добавить новые данные</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PositionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonMiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HookyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HookyDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonMiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HookyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HookyTime)
                </td>
                <td>
                    <a asp-action="Редактирование" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Просмотр" asp-route-id="@item.Id">Просмотр</a> |
                    <a asp-action="Удаление" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Фильтр", "Filter")